@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
body {
  height: 100%;
  background: linear-gradient(to right, #5C246E,#7A378B);
  text-align: center;
  }
.container {
  margin-top: 150px;
}
span {
  font-family: 'luckiest guy';
  font-size: 70px;
  color: white;
  position: relative;
  text-shadow: 2px 2px 8px #000000;
  }
.code {  
   left: -1000px;
  animation-name: from-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  
}
.and {
  z-index: 1000;
  font-size: 100px;
  color:red;
  top: 1000px;
  animation-name: from-bottom;
  animation-duration: 2s;  
  animation-fill-mode: forwards;
  animation-delay: 4s;
  animation-iteration-count: 1
    
}

.bantz {   
  left:1000px;
  animation-name: from-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s; 
  animation-timing-function: ease-in-out;
  
}

@keyframes from-right {
  0% {left: -1000px;}
  70% {left: 150px;}
  100% {left: 15px;}
}

@keyframes from-left {
  0% {left:1000px}
  70% {left: -145px;}
  100% {left: -15px;}
}
@keyframes from-bottom {
  0% {top:1000px}
  70% {top: -20px}
  100% {top: 15px;}
}

