@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
body {
  height: 100%;
  background: linear-gradient(to right, #5C246E,#7A378B);
  text-align: center;
  

  }
.container {
  margin-top: 40px;
  width:100%;
  
  
}
.container span {
  font-family: 'luckiest guy';
  font-size: 70px;
  color: white;
  position: relative;
  text-shadow: 2px 2px 8px #000000;
  
  }
.code {  
 opacity:0;
  animation-name: from-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  
}
.container .and {
  z-index: 1000;
  font-size: 100px;
  color:red;
  opacity:0;
  animation-name: from-bottom;
  animation-duration: 2s;  
  animation-fill-mode: forwards;
  animation-delay: 4s;
  animation-iteration-count: 1
    
}

.bantz {   
  opacity:0;
  animation-name: from-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s; 
  animation-timing-function: ease-in-out;
  
}

@keyframes from-right {
  0% {left: -1000px;opacity:1;}
  70% {left: 150px;opacity:1;}
  100% {left: 15px;opacity:1;}
}

@keyframes from-left {
  0% {left:1000px;opacity:1;}
  70% {left: -145px;opacity:1;}
  100% {left: -15px;opacity:1;}
}
@keyframes from-bottom {
  0% {top:1000px;opacity:1;}
  70% {top: -20px;opacity:1;}
  100% {top: 15px;opacity:1;}
}

@media screen and (max-width: 450px){
 .container span {
    font-size: 40px;
  }
 .container .and{font-size: 60px;}
}

